{% extends "base.html" %}
{% load static wagtailcore_tags %}

{% block body_class %}template-searchresults{% endblock %}

{% block title %}Search{% endblock %}

{% block content %}

    <section class="container mt-5">
        <h1 class="display-4 text-primary">Search</h1>

<form action="{% url 'search' %}" method="get" class='col-md-6'>
    <div class="mb-3 d-flex">
        <input class="form-control" type="text" placeholder="e.g Full Stack Developer" name="query"{% if search_query %} value="{{ search_query }}"{% endif %}>
        <input type="submit" value="Search" class="btn btn-primary">
    </div>
</form>

{% if search_results %}
<ul class="list-group col-md-8">
    {% for result in search_results %}
    <li class="list-group-item list-group-item-light mb-2">
        <h2 class="lead"><a class="text-decoration-none" href="{% pageurl result %}">{{ result }}</a></h2>
        {% if result.search_description %}
        {{ result.search_description }}
        {% endif %}
    </li>
    {% endfor %}
</ul>

{% if search_results.has_previous %}
<a href="{% url 'search' %}?query={{ search_query|urlencode }}&amp;page={{ search_results.previous_page_number }}">Previous</a>
{% endif %}

{% if search_results.has_next %}
<a href="{% url 'search' %}?query={{ search_query|urlencode }}&amp;page={{ search_results.next_page_number }}">Next</a>
{% endif %}
{% elif search_query %}
No results found
{% endif %}
    </section>

{% endblock %}
